<html>
<head>
	<link rel="stylesheet" href="stylesheets/base.css">
	<link rel="stylesheet" href="stylesheets/skeleton.css">
	<link rel="stylesheet" href="stylesheets/layout.css">
	<title>Rudy Crespo</title>
</head>
<body>
  
  <div class="container">
	<%= yield %>
  </div>

</body>
</html>